# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Java / Gradle / Maven
target/
.gradle/
*.class
out/

# Go
/dragonfly/**/bin/

# Editors / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
